#header:after {
	content:'';
	clear: both;
	display: block
}
#header {
	background-color: red;
}
#leftpanel {
	background-color: yellow;
	width: 25%;
	float: left
}
#content {
	background-color: blue;
	width: 25%;
	float: left;
	text-align: center;
}
#rightpanel {
	background-color: pink;
	width: 50%
}
#footer {
	background-color: grey
}
#header .menu li {
	float: left
}
#header .menu li {
	list-style-type: none;
	border-right: 2px solid black;
	padding: 10px 10px 10px 10px;
}